/*
.reveal .slides {
height: 100% !important;
top: 0 !important;
margin-top: 0 !important;
}

.reveal .slides>section {
min-height: 90% !important;
top: auto !important;
}

.reveal .slides>section>section {
min-height: 100% !important;
}
*/

.reveal pre, .reveal p {
	width: 120%;
	margin-left: -10%;
}

.reveal pre, .reveal p {
	margin-top:12px;
	margin-bottom:12px;
}



.reveal p, .reveal ol {
	font-size:1.3rem;
}

.reveal .hljs-meta {
	color:#9999FF;
}


.reveal p {
	text-align: left;
}

.reveal h3 {
	font-size: 1.2em;
}

.reveal pre {
	font-size: 1rem;

}

.reveal p code {
	color:white;
	font-size: 1.1rem;
	background-color:#3f3f3f;
	padding:1px;
	padding-left:4px;
	padding-right:4px;
}